{% extends "base.html" %}

{% block content %}
  {% set title = res.tags.other | capitalize %}
  {% include "partials/page-header.html" %}

  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="flex flex-wrap gap-4 justify-center">
            {% for term in terms %}
              <a href="{{ term.permalink }}" class="rounded bg-light dark:bg-darkmode-light px-6 py-3 text-lg font-semibold hover:bg-primary hover:text-white transition-colors">
                #{{ term.name }} <span class="ml-2 text-sm opacity-60">({{ term.pages | length }})</span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}