{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% elif config.description %}
  <meta name="description" content="{{ config.description }}">
{% endif %}

{% if page.extra.noindex %}
  <meta name="robots" content="noindex,nofollow" />
{% endif %}

<meta name="author" content="{{ config.extra.author.name }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.permalink | default(value=config.base_url) }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}" />
{% if page.extra.image %}
  <meta property="og:image" content="{{ get_url(path=page.extra.image) }}" />
{% endif %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ page.permalink | default(value=config.base_url) }}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}" />
<meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}" />
{% if page.extra.image %}
  <meta property="twitter:image" content="{{ get_url(path=page.extra.image) }}" />
{% endif %}
