{% extends "base.html" %}
{% import "macros/sections.html" as section_macros %}

{% block content %}
  {% set is_dev = get_env(name="ZOLA_ENV", default="") == "dev" %}
  {{ section_macros::render(id="banner", config_sections=config.extra.sections | default(value=false), section_extra=section.extra | default(value=false), dev=is_dev) }}
  {{ section_macros::render(id="features", config_sections=config.extra.sections | default(value=false), section_extra=section.extra | default(value=false), dev=is_dev) }}
  {{ section_macros::render(id="testimonials", config_sections=config.extra.sections | default(value=false), section_extra=section.extra | default(value=false), dev=is_dev) }}
  {{ section_macros::render(id="cta", config_sections=config.extra.sections | default(value=false), section_extra=section.extra | default(value=false), dev=is_dev) }}
{% endblock content %}
